body {
  /* background-color: aqua; */
  background-color: #fafafa;
  font-family: "M PLUS Rounded 1c", sans-serif;
  padding-top: 50px;
}

.container {
  max-width: 530px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0px 6px 15px -5px #777777;
  border-radius: 10px;
}

a {
  color: #595959;
  text-decoration: none;
}

h1 {
  margin: 0;
}

.header-bar {
  text-align: center;
  padding: 20px 0;
  background: rgb(41, 85, 168);
  background: linear-gradient(
    126deg,
    rgba(41, 85, 168, 0.9416141456582633) 39%,
    rgba(60, 100, 147, 1) 100%
  );
  color: white;
  border-radius: 5px 5px 0 0;
}

.taskWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-top: 1px solid #e3d4d479;
}

.taskTitle {
  display: flex;
}

.taskCompletedIcon {
  height: 20px;
  width: 20px;
  background-color: #4eb65a;
  border-radius: 50%;
  margin-right: 10px;
}

.taskInCompletedIcon {
  height: 20px;
  width: 20px;
  background-color: #595959;
  border-radius: 50%;
  margin-right: 10px;
}

.deleteLink {
  color: red;
}

.loginAndLogout {
  padding: 20px;
}

.loginAndLogout a {
  color: lightcoral;
  text-decoration: none;
}

.searchWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.searchInput {
  height: 24px;
  outline: none;
  border: 1px solid lightseagreen;
  border-radius: 5px;
  padding: 2px 4px;
  width: 160px !important;
}

.addButton {
  color: lightseagreen;
  font-size: 32px;
}

.searchButton {
  border: 1px solid lightseagreen;
  background-color: #fafafa;
  color: lightseagreen;
  padding: 4px 10px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.4s;
}

.searchButton:hover {
  background-color: lightseagreen;
  color: white;
}

.backButton {
  color: white;
}

.editButton {
  color: #4eb65a;
}

label {
  padding-top: 10px !important;
  display: block;
}

input[type="text"],
input[type="password"],
textarea {
  width: 100%;
}
